/* global */
body {
    background-color: #010202;
    margin-left: 20%;
    margin-right: 20%;
}

main, footer {
    background-color: white;
}

section {
    margin-left: 5px;
    margin-right: 5px;
}
/* global */

/* header */
header{
    margin-top: -8px;
}

.navigation {
    background-color: dodgerblue;
    background-image: url(../img/pattern.png);
    height: 180px;
}

#logo {
    height: 70px;
    margin-top: 110px;
    margin-left: 7px;
}
/* header */


/* text */
h1, .credit {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.33em;
    font-size: 2.57em;
    text-align: left;
    width: 85%;
}

.credit {
    margin-top: -4px;
    font-size: 20.5px;
    color: #8b8b8b;
}

span {
    background-color: yellow;
}

.author {
    text-decoration: none;
    color: #2bafe7;
}

.data{
    font-size: 17px;
}
/* text */

.photo-info{
    margin-top: 4px;
}

.container {
    margin-top: 20px;
    font-size: 19px;
}

/* tabella */
table{
    width: 100%;
    border-spacing: 0px;
    text-align: left;

}  

th {
    background-color: #1aaae6;
    color: white;
    padding: 0px;
}

table tr:nth-child(odd)  { 
    background: #b2e6f2; 
}

#third-column {
    width: 50%;
}
/* tabella */


/* photo */
.row {
    margin-top: 10px;
    margin-bottom: 15px;
}

.card{
    width: 270px;
    height: 208px;
    color: white;
    font-size: 30px;
}


.monitor {
    background-image: url(../img/monitor.jpg);
}

.graph {
    margin-top: 5px;
    background-image: url(../img/graph.jpg); 
}
/* photo */